<nav>
<% if @current_user %>
<%= @current_user.username.upcase %> |   <%= link_to 'Logout', logout_path %>
<% else %>
<%= link_to 'Login', login_path %> | <%= link_to 'Signup', signup_path %>
<% end %>
</nav>
<br>

<div class=welcome> </div>


<%= form_for :game, url: '/games' do |f| %>
BEGIN A NEW GAME <br>
  <%= f.submit "Submit" %>
<% end %>

<%= form_for :game, url: '/games/join' do |f| %>
  Enter Unique Game ID <%= f.text_field :gamenum %><br>
  <%= f.submit "Submit" %>
<% end %>
<br>
