<div id='gamepage'>
  <div id='tables'>
  <h1>Opponent Board</h1>
<div>
  <table style="width:100%">
    <tr>
      <th class="coordinate_header"> </th>
      <% 10.times do |row| %>
        <th class="coordinate_header"><%= (row + 1) %></th>
      <% end %>
    </tr>
    <% 10.times do |row| %>
      <tr>
        <td class="coordinate_header"><%= number_to_letter(row) %></td>
        <% 10.times do |column| %>
          <% current_tile = @opponent_board.find_by(coordinates: "#{number_to_letter(row)}, #{column + 1}") %>
          <% if !current_tile.ship && current_tile.hit == true %>
            <td class="coordinate">O</td>
          <% elsif current_tile.ship && current_tile.hit == true %>
            <td class="coordinate">X</td>
          <% else %>
            <td class="coordinate"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<h1>Your Board</h1>
<div>
  <table style="width:100%">
    <tr>
      <th class="coordinate_header"> </th>
      <% 10.times do |header_row| %>
        <th class="coordinate_header"><%= (header_row + 1) %></th>
      <% end %>
    </tr>
    <% 10.times do |row| %>
      <tr>
        <td class="coordinate_header"><%= number_to_letter(row) %></td>
        <% 10.times do |column| %>
          <% current_tile = @your_board.find_by(coordinates: "#{number_to_letter(row)}, #{column + 1}") %>
          <% if !current_tile.ship && current_tile.hit == true %>
            <td class="coordinate">O</td>
          <% elsif current_tile.ship && current_tile.hit == true %>
            <td class="coordinate">X</td>
          <% elsif current_tile.ship %>
            <td class="coordinate">#</td>
          <% else %>
            <td class="coordinate"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>


<!-- put fire form in if statement when users exit -->
<% if @player_turn %>

  <% @rows = [['a'],['b'], ['c'], ['d'], ['e'], ['f'], ['g'], ['h'], ['i'], ['j']] %>
  <% @cols = [['1'],['2'], ['3'], ['4'], ['5'], ['6'], ['7'], ['8'], ['9'], ['10']] %>

  <%= form_tag("/games/#{@current_game.id}", method: 'patch') do %>
    <%= select_tag(:row, options_for_select( @rows )) %>
    <%= select_tag(:column, options_for_select( @cols )) %>
    <%= submit_tag "Fire" %>
  <% end %>




<% end %>
  </div>
</div>
