<h1>Register Below</h1>

<% if @user && @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
  Name: <%= f.text_field :username %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Submit" %><br>

<% end %>
