<%= form_for :user, url: '/users' do |f| %>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

  Name: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>

<% end %>
